@import './variables';

.search {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 900px;
    justify-content: center;
    align-items: stretch;
    gap: 1em;

    input {
        flex-grow: 1;
        border-radius: 0.5em;
        padding-left: 0.7em;

        +.btn {
            flex-basis: 25%;
        }
    }
}

#listingTable {
    .row.head {
        min-height: 4em;
        padding: 1rem 0rem;
        font-size: 1.5rem;
        font-weight: bold;
        background: $darkWhite;
    }

    .row>.cell {
        padding: 0.4rem;
    }

    .row>.cell:first-child {
        width: 6rem;

        >img {
            max-height: 6em;
        }
    }

    .row:not(.head) {
        border: 1px solid black;

        &:not(:last-child) {
            border-bottom: 0px;
        }

        &:nth-child(2n+1) {
            background: lighten($darkWhite, 5);
        }
    }

    .row.linkedRow:hover {
        background-color: rgba($green, 0.2);
        cursor: pointer;
    }
}

.product {
    gap: 2em;

    >* {
        justify-content: space-between;
        gap: 1em;
        margin: 0;
        padding: 1em;
        padding-left: 0;
        padding-right: 0;
    }

    .productImg {
        width: 40%;

        img {
            width: 100%;
            height: auto;
            padding: 0.75em;
            background: $darkWhite;
            border-radius: 1em;
        }
    }

    .productData {
        [name="name"] {
            font-size: 2.25em;
        }

        .costWrapper {
            &::before {
                content: '$';
                position: absolute;
                transform: translate(0.3em, 0.5em);
            }

            [name="cost"] {
                padding-left: 1em;
            }
        }


        .productDescription {
            flex-grow: 1;
        }
    }

    &+.actions {
        gap: 1em;

        >.btn {
            flex-basis: 100%;
            flex-shrink: 1;
        }
    }
}

.container.comments {
    gap: 0.5em;
    --speed: 0.2s;

    .comment {
        padding: 0em 0.5em;
        background-image: linear-gradient(90deg, darken($white, 5) 25%, darken($white, 15) 75%);
        transition: background-position-x var(--speed) ease-out;
        background-position-x: 100%;
        background-size: 150%;

        &:hover {
            background-position-x: 0%;
            .metadata {
                color: $black;
            }
        }

        .metadata {
            font-size: 0.7em;
            margin-bottom: 0.5em;
            color: darken($darkWhite, 10);
            transition: color var(--speed) ease-out;
        }
    }
}