@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$headerSizeBig: 120px;
$headerSizeSmall: 70px;

html,
body {
    font-family: 'Comfortaa', 'Roboto';
    background: $white;
    color: $black;
}

a {
    color: $main;

    &:hover {
        color: $accent;
    }
}

.container,
.wrapper,
.box {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    padding: 2em;
    height: revert;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &.center {
        justify-content: center;
        align-items: center;
    }

    >* {
        width: 100%;
    }
}

.wrapper {
    min-width: 500px;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.box {
    width: 250px;
    height: 2em;
    text-align: center;
    line-height: 2em;
    height: 2em;
    background: change-color($black, $alpha: 0.15);
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.14s ease-out;

    &:hover {
        background: change-color($black, $alpha: 0.05);
        transform: scale(1.2);
    }
}

.flex {
    display: flex;

    &.row {
        flex-direction: row;
    }
}

.table {
    margin-top: 1em;
    margin-bottom: 1em;

    .row {
        display: flex;
        flex-flow: row;

        &.head {
            border-radius: 1rem 1rem 0rem 0rem;
        }

        .cell {
            display: flex;

            &.center {
                justify-content: center;
                align-items: center;
            }
        }

        @for $i from 1 through $maxCols {

            .cell:first-child:nth-last-child(#{$i}),
            .cell:first-child:nth-last-child(#{$i})~.cell {
                width: (100% / $i);
                flex-grow: 1;
            }
        }
    }
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background: #000;
    background: linear-gradient(90deg, change-color($accent, $alpha: 0) 0%, change-color($accent, $alpha: 0.75) 20% 80%, change-color($accent, $alpha: 0) 100%);
}

body {
    background: $white;
}

.header-outer {
    display: flex;
    align-items: center;
    position: sticky;
    height: $headerSizeBig;
    top: $headerSizeSmall - $headerSizeBig;

    .header-inner {
        height: $headerSizeSmall;
        position: sticky;
        top: 0;
    }
}


.error {
    background: $red;
    text-align: center;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    font-size: 0.75em;
    margin-top: 0.75em;

    >p {
        margin: 0;
    }
}

.displayBox {
    background: $main;
    width: 400px;
    border-radius: 1em;
    padding: 1.5em;
    display: flex;
    flex-flow: column;
    gap: 0.15em;
    font-size: 1.25em;

    >h1 {
        text-align: center;
    }
}

.loginBox {
    label {
        position: relative;
        pointer-events: none;
        top: -37.5px;
        left: 4px;
        transition: 0.2s ease all;
        height: 0;
        opacity: 0.6;
    }

    input {

        &,
        select {
            height: 2.5em;
        }

        &:focus+label,
        &:not(:focus):valid+label {
            top: -48px;
            left: 6px;
            font-size: 0.5em;
        }

        &[type="text"],
        &[type="password"] {
            padding-top: 1em;
        }
    }
}

input,
select,
textarea {
    background: $darkWhite;
    width: 100%;
    transition: 0.2s ease border;
    font-size: 1em;
    padding: 0.3em;
    padding-top: 0.5em;
    outline: none;
    border: none;
    border-bottom: 0.2em solid rgba($accent, 0);
    border-radius: 0.2em;
    box-shadow: none;
    display: block;

    &:focus {
        border-bottom: 0.2em solid $accent;
        outline: none;
    }
}

.btn,
input[type="submit"] {
    border: none;
    background: $green;
    padding: 1rem;
    border-radius: 0.6rem;
    transition: 0.2s ease-out;
    user-select: none;
    text-align: center;
    color: $white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not([disabled]) {
        cursor: pointer;
    }

    &:not([disabled]):hover {
        color: $accent;
        filter: brightness(105%);
    }

    &:not([disabled]):active {
        filter: brightness(75%);
    }

    &.white {
        background: $darkWhite;
        color: $black;
    }

    &.red {
        background: $red;
    }

    &.blue {
        background: $main;
    }
}

.flexbreak {
    flex-basis: 100%;
    height: 0;
}

[disabled] {
    cursor: no-drop;
}