@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html,
body {
    font-family: 'Comfortaa', 'Roboto';
    background: $white;
    color: $black;
}

a {
    color: $main;

    &:hover {
        color: $accent;
    }
}

.container,
.wrapper,
.box {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    padding: 2em;
    height: revert;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &.center {
        justify-content: center;
        align-items: center;
    }

    >* {
        width: 100%;
    }
}

.wrapper {
    min-width: 500px;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.box {
    width: 250px;
    height: 2em;
    text-align: center;
    line-height: 2em;
    height: 2em;
    background: change-color($black, $alpha: 0.15);
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.14s ease-out;

    &:hover {
        background: change-color($black, $alpha: 0.05);
        transform: scale(1.2);
    }
}

.flex {
    display: flex;
}

.table {
    margin-top: 1em;
    margin-bottom: 1em;

    .row {
        display: flex;
        flex-flow: row;

        &.head {
            border-radius: 1rem 1rem 0rem 0rem;
        }

        .cell {
            display: flex;

            &.center {
                justify-content: center;
                align-items: center;
            }
        }

        @for $i from 1 through $maxCols {

            .cell:first-child:nth-last-child(#{$i}),
            .cell:first-child:nth-last-child(#{$i})~.cell {
                width: (100% / $i);
                flex-grow: 1;
            }
        }
    }
}