@import './variables';

$headerSizeBig: 120px;
$headerSizeSmall: 70px;

body {
    background: $white;
}

.header-outer {
    display: flex;
    align-items: center;
    position: sticky;
    height: $headerSizeBig;
    top: $headerSizeSmall - $headerSizeBig;

    .header-inner {
        height: $headerSizeSmall;
        position: sticky;
        top: 0;
    }
}


.error {
    background: $red;
    text-align: center;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    font-size: 0.75em;
    margin-top: 0.75em;

    >p {
        margin: 0;
    }
}

.displayBox {
    background: $main;
    width: 400px;
    border-radius: 1em;
    padding: 1.5em;
    display: flex;
    flex-flow: column;
    gap: 0.15em;
    font-size: 1.25em;

    >h1 {
        text-align: center;
    }

    label {
        position: relative;
        pointer-events: none;
        top: -37.5px;
        left: 4px;
        transition: 0.2s ease all;
        height: 0;
        opacity: 0.6;
    }

    input {
        width: 100%;
        // background: $white;
        height: 2.5em;
        font-size: 1em;
        background: darken($white, 10);
        padding: 0.2em;
        outline: none;
        border: none;
        border-bottom: 1px solid $black;
        box-shadow: none;

        &:focus {
            border-color: $accent;
            border-width: 2px;
        }

        &:focus+label,
        &:not(:focus):valid+label {
            top: -47.5px;
            left: 4px;
            font-size: 0.5em;
        }

        &[type="text"],
        &[type="password"] {
            padding-top: 0.75em;
        }

        &[type="submit"] {
            border-width: 0px;
            transition: 0.2s ease all;
            cursor: pointer;

            &:hover {
                background: $accent;
            }
        }
    }


}