@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html,
body {
    font-family: 'Comfortaa', 'Roboto';
    background: $white;
    color: $black;
}

a {
    color: $main;

    &:hover {
        color: $accent;
    }
}

.container,
.wrapper,
.box {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 2em;
    height: revert;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &.center {
        justify-content: center;
        align-items: center;
    }
}

.wrapper {
    min-width: 500px;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.box {
    width: 250px;
    height: 2em;
    text-align: center;
    line-height: 2em;
    height: 2em;
    background: change-color($black, $alpha: 0.15);
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.14s ease-out;

    &:hover {
        background: change-color($black, $alpha: 0.05);
        transform: scale(1.2);
    }
}

.flex {
    display: flex;
}