@import './variables';

html,
body {
    background: $white;
    color: $black;
}

a {
    color: $main;

    &:hover {
        color: $accent;
    }
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    min-width: 500px;
    width: 70%;
    display: flex;
    justify-content: center;
}

.box {
    width: 100px;
    height: 2em;
    text-align: center;
    line-height:2em;
    height:2em;
    background: change-color($black, $alpha: 0.15);
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.14s ease-out;

    &:hover {
        background: change-color($black, $alpha: 0.25);
        transform: scale(1.2);
    }
}