@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html,
body {
  font-family: 'Comfortaa', 'Roboto';
  background: #F7F5F3;
  color: #001524; }

a {
  color: #559CAD; }
  a:hover {
    color: #FE9E72; }

.container,
.wrapper,
.box {
  box-sizing: border-box; }

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .container.center {
    justify-content: center;
    align-items: center; }

.wrapper {
  min-width: 500px;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 1em; }

.box {
  width: 250px;
  height: 2em;
  text-align: center;
  line-height: 2em;
  height: 2em;
  background: rgba(0, 21, 36, 0.15);
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.14s ease-out; }
  .box:hover {
    background: rgba(0, 21, 36, 0.05);
    transform: scale(1.2); }

.flex {
  display: flex; }
