@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html,
body {
  font-family: 'Comfortaa', 'Roboto';
  background: #F7F5F3;
  color: #001524; }

a {
  color: #559CAD; }
  a:hover {
    color: #FE9E72; }

.container,
.wrapper,
.box {
  box-sizing: border-box; }

.container {
  width: 80%;
  margin: auto;
  padding: 2em;
  height: revert;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .container.center {
    justify-content: center;
    align-items: center; }
  .container > * {
    width: 100%; }

.wrapper {
  min-width: 500px;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 1em; }

.box {
  width: 250px;
  height: 2em;
  text-align: center;
  line-height: 2em;
  height: 2em;
  background: rgba(0, 21, 36, 0.15);
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.14s ease-out; }
  .box:hover {
    background: rgba(0, 21, 36, 0.05);
    transform: scale(1.2); }

.flex {
  display: flex; }

.row {
  display: flex;
  flex-flow: row; }
  .row.head {
    border-radius: 1rem 1rem 0rem 0rem; }
  .row .cell {
    display: flex; }
    .row .cell.center {
      justify-content: center;
      align-items: center; }
  .row .cell:first-child:nth-last-child(1),
  .row .cell:first-child:nth-last-child(1) ~ .cell {
    width: 100%;
    flex-grow: 1; }
  .row .cell:first-child:nth-last-child(2),
  .row .cell:first-child:nth-last-child(2) ~ .cell {
    width: 50%;
    flex-grow: 1; }
  .row .cell:first-child:nth-last-child(3),
  .row .cell:first-child:nth-last-child(3) ~ .cell {
    width: 33.33333%;
    flex-grow: 1; }
  .row .cell:first-child:nth-last-child(4),
  .row .cell:first-child:nth-last-child(4) ~ .cell {
    width: 25%;
    flex-grow: 1; }
  .row .cell:first-child:nth-last-child(5),
  .row .cell:first-child:nth-last-child(5) ~ .cell {
    width: 20%;
    flex-grow: 1; }
  .row .cell:first-child:nth-last-child(6),
  .row .cell:first-child:nth-last-child(6) ~ .cell {
    width: 16.66667%;
    flex-grow: 1; }
  .row .cell:first-child:nth-last-child(7),
  .row .cell:first-child:nth-last-child(7) ~ .cell {
    width: 14.28571%;
    flex-grow: 1; }
  .row .cell:first-child:nth-last-child(8),
  .row .cell:first-child:nth-last-child(8) ~ .cell {
    width: 12.5%;
    flex-grow: 1; }
