.header {
  width: 100%;
  text-align: center;
  margin-bottom: 2em; }
  .header img.logo {
    max-width: 500px;
    width: 80%; }

.app {
  display: flex;
  flex-flow: row;
  gap: 2em;
  flex-grow: 1;
  width: 100%; }
  .app .homeBlock {
    background: rgba(200, 200, 200, 0.3);
    border-radius: 2em;
    padding: 1em;
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center; }
    .app .homeBlock h1 {
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5em;
      margin-top: 0.25em; }
    .app .homeBlock .homeBlockInner {
      gap: 1em;
      justify-content: center; }
      .app .homeBlock .homeBlockInner > * {
        margin: 0; }
      .app .homeBlock .homeBlockInner .homeBlockLogin {
        flex-flow: row;
        gap: 1em; }
        .app .homeBlock .homeBlockInner .homeBlockLogin > * {
          flex: 50% 1 1; }

.listing {
  display: block;
  border-radius: 2px;
  background: #fff;
  color: #212121;
  height: 100%;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16), 0 4px 14px 0 rgba(0, 0, 0, 0.12);
  text-shadow: none;
  width: 200px;
  text-decoration: none;
  transform: scale(1);
  transition: all 0.15s ease;
  z-index: 0; }
  .listing:hover {
    transform: scale(1.07);
    z-index: 1; }
  .listing .listingImage {
    object-fit: cover;
    height: 200px;
    margin: auto;
    display: block; }
  .listing .listingCaption {
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0.3em; }
    .listing .listingCaption > * {
      margin: 0; }
    .listing .listingCaption > [type="price"] {
      font-weight: normal; }

@media screen and (max-width: 650px) {
  .app {
    flex-flow: column; } }
