.search {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 900px;
  justify-content: center;
  align-items: stretch; }
  .search input {
    flex-grow: 1;
    border-radius: 0.5em; }
    .search input + .btn {
      flex-basis: 25%; }
