@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html,
body {
  font-family: 'Comfortaa', 'Roboto';
  background: #f7f5f3;
  color: #001524; }

a {
  color: #559CAD; }
  a:hover {
    color: #FE9E72; }

.container,
.wrapper,
.box {
  box-sizing: border-box; }

.container {
  width: 80%;
  margin: auto;
  padding: 2em;
  height: revert;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .container.center {
    justify-content: center;
    align-items: center; }
  .container > * {
    width: 100%; }

.wrapper {
  min-width: 500px;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 1em; }

.box {
  width: 250px;
  height: 2em;
  text-align: center;
  line-height: 2em;
  height: 2em;
  background: rgba(0, 21, 36, 0.15);
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.14s ease-out; }
  .box:hover {
    background: rgba(0, 21, 36, 0.05);
    transform: scale(1.2); }

.flex {
  display: flex; }
  .flex.row {
    flex-direction: row; }

.table {
  margin-top: 1em;
  margin-bottom: 1em; }
  .table .row {
    display: flex;
    flex-flow: row; }
    .table .row.head {
      border-radius: 1rem 1rem 0rem 0rem; }
    .table .row .cell {
      display: flex; }
      .table .row .cell.center {
        justify-content: center;
        align-items: center; }
    .table .row .cell:first-child:nth-last-child(1),
    .table .row .cell:first-child:nth-last-child(1) ~ .cell {
      width: 100%;
      flex-grow: 1; }
    .table .row .cell:first-child:nth-last-child(2),
    .table .row .cell:first-child:nth-last-child(2) ~ .cell {
      width: 50%;
      flex-grow: 1; }
    .table .row .cell:first-child:nth-last-child(3),
    .table .row .cell:first-child:nth-last-child(3) ~ .cell {
      width: 33.33333%;
      flex-grow: 1; }
    .table .row .cell:first-child:nth-last-child(4),
    .table .row .cell:first-child:nth-last-child(4) ~ .cell {
      width: 25%;
      flex-grow: 1; }
    .table .row .cell:first-child:nth-last-child(5),
    .table .row .cell:first-child:nth-last-child(5) ~ .cell {
      width: 20%;
      flex-grow: 1; }
    .table .row .cell:first-child:nth-last-child(6),
    .table .row .cell:first-child:nth-last-child(6) ~ .cell {
      width: 16.66667%;
      flex-grow: 1; }
    .table .row .cell:first-child:nth-last-child(7),
    .table .row .cell:first-child:nth-last-child(7) ~ .cell {
      width: 14.28571%;
      flex-grow: 1; }
    .table .row .cell:first-child:nth-last-child(8),
    .table .row .cell:first-child:nth-last-child(8) ~ .cell {
      width: 12.5%;
      flex-grow: 1; }

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: #000;
  background: linear-gradient(90deg, rgba(254, 158, 114, 0) 0%, rgba(254, 158, 114, 0.75) 20% 80%, rgba(254, 158, 114, 0) 100%); }

body {
  background: #f7f5f3; }

.header-outer {
  display: flex;
  align-items: center;
  position: sticky;
  height: 120px;
  top: -50px; }
  .header-outer .header-inner {
    height: 70px;
    position: sticky;
    top: 0; }

.error {
  background: #E85F5C;
  text-align: center;
  border-radius: 0.5em;
  padding: 1em 0.5em;
  font-size: 0.75em;
  margin-top: 0.75em; }
  .error > p {
    margin: 0; }

.displayBox {
  background: #559CAD;
  width: 400px;
  border-radius: 1em;
  padding: 1.5em;
  display: flex;
  flex-flow: column;
  gap: 0.15em;
  font-size: 1.25em; }
  .displayBox > h1 {
    text-align: center; }

input,
select,
textarea {
  background: #e3dcd4;
  width: 100%;
  transition: 0.2s ease border;
  font-size: 1em;
  padding: 0.3em;
  padding-top: 0.5em;
  outline: none;
  border: none;
  border-bottom: 0.2em solid rgba(254, 158, 114, 0);
  border-radius: 0.2em;
  box-shadow: none;
  display: block; }
  input:focus,
  select:focus,
  textarea:focus {
    border-bottom: 0.2em solid #FE9E72;
    outline: none; }

.btn,
input[type="submit"] {
  border: none;
  background: #319757;
  padding: 1rem;
  border-radius: 0.6rem;
  transition: 0.2s ease-out;
  user-select: none;
  text-align: center;
  color: #f7f5f3;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn:not([disabled]),
  input[type="submit"]:not([disabled]) {
    cursor: pointer; }
  .btn:not([disabled]):hover,
  input[type="submit"]:not([disabled]):hover {
    color: #FE9E72;
    filter: brightness(105%); }
  .btn:not([disabled]):active,
  input[type="submit"]:not([disabled]):active {
    filter: brightness(75%); }
  .btn.white,
  input[type="submit"].white {
    background: #e3dcd4;
    color: #001524; }
  .btn.red,
  input[type="submit"].red {
    background: #E85F5C; }
  .btn.blue,
  input[type="submit"].blue {
    background: #559CAD; }

.flexbreak {
  flex-basis: 100%;
  height: 0; }

[disabled] {
  cursor: no-drop; }

.switchBox {
  --height: 1.5em;
  --width: 3.5em;
  position: relative;
  font-size: 1.25rem;
  height: calc(var(--height) + 0.5em);
  display: flex;
  align-items: center; }
  .switchBox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 1;
    height: var(--height); }
    .switchBox input[type="checkbox"]:checked + label:before {
      background-color: #319757;
      content: "Y";
      text-align: left; }
    .switchBox input[type="checkbox"]:checked + label:after {
      left: calc(var(--width) - var(--height) + 1px); }
  .switchBox label {
    position: relative;
    line-height: var(--height);
    margin-left: 0.3em; }
    .switchBox label:before, .switchBox label:after {
      position: absolute;
      border-radius: 99999em;
      transition: background-color 0.3s, left 0.3s;
      margin-left: 110%; }
    .switchBox label:before {
      content: "N";
      color: #f7f5f3;
      box-sizing: border-box;
      font-family: 'Comfortaa', 'Roboto';
      padding: 1% 0.5em;
      text-align: right;
      background-color: #E85F5C;
      height: var(--height);
      width: var(--width); }
    .switchBox label:after {
      content: "";
      letter-spacing: 20px;
      background: #f7f5f3;
      left: 1px;
      top: 1px;
      height: calc(var(--height) - 2px);
      width: calc(var(--height) - 2px); }
