.navbar {
  width: 100%;
  background: #e3dcd4;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 4em; }
  .navbar + * {
    margin-top: 4em; }
  .navbar .logo {
    width: 100px;
    text-align: center;
    flex-grow: 0;
    margin: 0px 2em; }
  .navbar nav {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .navbar nav .navItem {
      border: 0em solid #001524;
      padding-bottom: 0.3em;
      border-bottom-width: 0.1em;
      border-color: #E85F5C;
      transition: padding 0.125s ease, border 0.125s ease;
      color: #001524;
      text-decoration: none;
      flex-grow: 1;
      flex-basis: 100px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbar nav .navItem.navActive {
        background: rgba(255, 255, 255, 0.2); }
      .navbar nav .navItem:hover, .navbar nav .navItem.navActive {
        padding-bottom: 0.1em;
        border-bottom-width: 0.3em;
        border-color: #FE9E72; }
